#!/usr/bin/env python
PACKAGE = "blimp_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

goal = gen.add_group("Goal")
goal.add("x", double_t, 0, "Goal x [m]",    0, -4,   4)
goal.add("y", double_t, 0, "Goal y [m]",    0, -4,   4)
goal.add("z", double_t, 0, "Goal z [m]",    1.0, 0,   2.5)
goal.add("yaw", double_t, 0, "Goal yaw [deg]",    0, -180,   180)

gen.add("manual", bool_t, 0, "Manual", False)

exit(gen.generate(PACKAGE, "controller_node", "Controller"))

